<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GreenPulse Predictor</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

    <!-- Navbar start -->
    <div class="container-fluid fixed-top px-0">
        <nav class="navbar navbar-light bg-light navbar-expand-xl">
            <a href="/" class="navbar-brand ms-3">
                <h3 class="text-primary ">GreenPulse Predictor</h3>
            </a>
            <button class="navbar-toggler py-2 px-3 me-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-light" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/about" class="nav-item nav-link ">About</a>
                    <a href="/colab" class="nav-item nav-link active">Colab Link</a>
                    <a href="/team" class="nav-item nav-link">Team</a>
                    <a href="/contact" class="nav-item nav-link">Contact</a>
                </div>
                <div class="d-flex align-items-center flex-nowrap pt-xl-0" style="margin-left: 15px;">
                    <a href="/predict" class="btn-hover-bg btn btn-primary text-white py-2 px-4 me-3">Predict Now!</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
         <!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">EcoShield</h3> <!-- Updated Title -->
        <p class="fs-5 text-white mb-4">Protecting the planet today for a sustainable tomorrow.</p> <!-- Updated Quote -->
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active text-white">Colab Link</li>
        </ol>    
    </div>
</div>
<!-- Header End -->
  <!-- Services Start -->
  <div class="container-fluid service py-5 bg-light">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5" style="max-width: 800px;">
            <h5 class="text-uppercase text-primary">Our Initiatives</h5>
            <h1 class="mb-0">How We Combat Global Warming</h1>
        </div>

        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <img src="{{ url_for('static', filename='images/numpy.jpg') }}" class="img-fluid w-100" alt="NumPy Image">
                    <div class="service-link">
                        <a href="#" class="h4 mb-0">NumPy</a>
                    </div>
                </div>
                <p class="my-4">Library for efficient numerical operations on arrays and matrices.</p>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <img src="{{ url_for('static', filename='images/padas.png') }}" class="img-fluid w-100" alt="Pandas Image">
                    <div class="service-link">
                        <a href="#" class="h4 mb-0">Pandas</a>
                    </div>
                </div>
                <p class="my-4">Tool for data manipulation and analysis with DataFrames and Series.</p>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <img src="{{ url_for('static', filename='images/seaborn.png') }}" class="img-fluid w-100" alt="Seaborn Image">
                    <div class="service-link">
                        <a href="#" class="h4 mb-0">Seaborn</a>
                    </div>
                </div>
                <p class="my-4">Library for creating attractive and informative statistical visualizations.</p>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <img src="{{ url_for('static', filename='images/sklearn.jpeg') }}" class="img-fluid w-100" alt="Sklearn Image">
                    <div class="service-link">
                        <a href="#" class="h4 mb-0">Scikit-learn (Sklearn)</a>
                    </div>
                </div>
                <p class="my-4">Machine learning library offering algorithms for classification, regression, and clustering.</p>
            </div>
        </div>

        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <img src="{{ url_for('static', filename='images/Ai model.png') }}" class="img-fluid w-100" alt="AI Models Image">
                    <div class="service-link">
                        <a href="#" class="h4 mb-0">AI Models</a>
                    </div>
                </div>
                <p class="my-4"><b>ARIMA: </b>Time series forecasting model considering trends and seasonality.<br>
                    <b>SARIMAX:</b> ARIMA extension handling seasonality and external factors.<br>
                    <b>pmdarima:</b> Simplifies ARIMA model selection and tuning.<br>
                    <b>fbprophet: </b>Forecasting model for time series with strong seasonal effects.</p>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <img src="{{ url_for('static', filename='images/grid.jpg') }}" class="img-fluid w-100" alt="Grid Search CV Image">
                    <div class="service-link">
                        <a href="#" class="h4 mb-0">Grid Search CV</a>
                    </div>
                </div>
                <p class="my-4">Technique for finding the best model hyperparameters through systematic testing and cross-validation.</p>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <img src="{{ url_for('static', filename='images/scipy.jpeg') }}" class="img-fluid w-100" alt="SciPy Image">
                    <div class="service-link">
                        <a href="#" class="h4 mb-0">SciPy</a>
                    </div>
                </div>
                <p class="my-4">Library for scientific computing with advanced functions for optimization, integration, and more.</p>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <img src="{{ url_for('static', filename='images/python.jpg') }}" class="img-fluid w-100" alt="Python Image">
                    <div class="service-link">
                        <a href="#" class="h4 mb-0">Python</a>
                    </div>
                </div>
                <p class="my-4">Python is a high-level programming language known for its simplicity and versatility.</p>
            </div>

            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center">
                    <a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="https://drive.google.com/file/d/1uQpnb6oQ3htO9AAwMvgb6kOVfrqgzAWH/view?usp=sharing">Colab Link</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
 <!-- Footer Start -->
<div class="container-fluid footer bg-dark text-body py-5">
    <div class="container py-5">
        <div class="row g-5">
            <!-- EcoBrief on the Left -->
            <div class="col-md-6 col-lg-4">
                <div class="footer-item">
                    <h4 class="mb-4 text-white">EcoBrief</h4>
                    <p class="mb-4">"Global warming's reality is revealed in the data: rising temperatures, higher sea levels, worsening air quality, and unpredictable weather. Our past data is a warning for the future".</p>
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 bg-secondary w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                        <button type="button" class="btn-hover-bg btn btn-primary position-absolute top-0 end-0 py-2 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
            <!-- Our Initiatives in the Middle -->
            <div class="col-md-6 col-lg-4">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Our Initiatives</h4>
                    <a href="#"><i class="fas fa-angle-right me-2"></i> Carbon Monitoring</a>
                    <a href="#"><i class="fas fa-angle-right me-2"></i> Renewable Energy Adoption</a>
                    <a href="#"><i class="fas fa-angle-right me-2"></i> Ecosystem Preservation</a>
                    <a href="#"><i class="fas fa-angle-right me-2"></i> Climate Data Analytics</a>
                    <a href="#"><i class="fas fa-angle-right me-2"></i> Environmental Education</a>
                    <a href="#"><i class="fas fa-angle-right me-2"></i> Sustainable Practices</a>
                </div>
            </div>
    <!-- Our Gallery on the Right -->
<div class="col-md-6 col-lg-4">
    <div class="footer-item">
        <h4 class="mb-4 text-white">Our Gallery</h4>
        <div class="row g-2">
            {% for i in range(1, 7) %}
            <div class="col-4">
                <div class="footer-gallery">
                    <img src="{{ url_for('static', filename='images/gallery-footer-' ~ i ~ '.jpg') }}" class="img-fluid w-100" alt="Gallery Image {{ i }}">
                    <div class="footer-search-icon">
                        <a href="{{ url_for('static', filename='images/gallery-footer-' ~ i ~ '.jpg') }}" data-lightbox="footerGallery-{{ i }}" class="my-auto"><i class="fas fa-search-plus text-white"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="container-fluid copyright py-4">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-4 text-center text-md-start mb-md-0">
                <span class="text-body">
                    <a href="#"><i class="fas fa-copyright text-light me-2"></i>Green Tech Innovators</a>, All right reserved.
                </span>
            </div>
            <div class="col-md-4 text-center">
                <div class="d-flex align-items-center justify-content-center">
                    <a href="#" class="btn-hover-color btn-square text-white me-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="btn-hover-color btn-square text-white me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="btn-hover-color btn-square text-white me-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="btn-hover-color btn-square text-white me-0"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-4 text-center text-md-end text-body">
                <!-- Credit Attribution -->
                Designed By Green Tech Innovators
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>